{% extends '_base.html' %}

{% block title %}{{ goods_receipt_note.grn }}{% endblock title %}

{% block content %}

    <div class="transaction-detail">
        <h2>{{ goods_receipt_note.grn }}</h2>
        <p>Date: {{ goods_receipt_note.date }}</p>
        <p>Print Date: {{ goods_receipt_note.print_date }}</p>
        <p>Vendor: {{ goods_receipt_note.vendor }}</p>
        <p>Notes: {{ goods_receipt_note.notes }}</p>
        
        <h3>Transactions</h3>
        {% for transaction in goods_receipt_note.transactions.all %}

            <p>{{ transaction.material.name }}</p>
            <p>Type: {{ transaction.transaction_type }}</p>
            <p>Created: {{ transaction.created_time }}</p>
            <p>Gross weight: {{ transaction.gross_weight }}</p>
            <p>Tare weight: {{ transaction.tare_weight }}</p>
            <p>Net weight: {{ transaction.net_weight }}</p>
            <p>Unit price: {{ transaction.unit_price }}</p>
            <p>Net value: {{ transaction.net_value }}</p>
            <p>Notes: {{ transaction.notes }}</p>

        {% endfor %}
        
        {% comment %} <p><a href="{% url 'goods_receipt_note' goods_receipt_note.pk %}">Edit</a> | <a href="{% url 'goods_receipt_note_delete' goods_receipt_note.pk %}">Delete</a></p> {% endcomment %}
    </div>

{% endblock content %}