{% extends '_base.html' %}

{% block title %}{{ goods_dispatch_note.gdn }}{% endblock title %}

{% block content %}

    <div class="transaction-detail">
        <h2>{{ goods_dispatch_note.gdn }}</h2>
        <p>Date: {{ goods_dispatch_note.date }}</p>
        <p>Print Date: {{ goods_dispatch_note.print_date }}</p>
        <p>Customer: {{ goods_dispatch_note.customer }}</p>
        <p>Notes: {{ goods_dispatch_note.notes }}</p>
        
        <h3>Transactions</h3>
        {% for transaction in goods_dispatch_note.transactions.all %}

            <p>{{ transaction.material.name }}</p>
            <p>Type: {{ transaction.transaction_type }}</p>
            <p>Created: {{ transaction.created_time }}</p>
            <p>Gross weight: {{ transaction.gross_weight }}</p>
            <p>Tare weight: {{ transaction.tare_weight }}</p>
            <p>Net weight: {{ transaction.net_weight }}</p>
            <p>Unit price: {{ transaction.unit_price }}</p>
            <p>Net value: {{ transaction.net_value }}</p>
            <p>Notes: {{ transaction.notes }}</p>

        {% endfor %}
        
        <p><a href="{% url 'goods_dispatch_note_edit' goods_dispatch_note.pk %}">Edit</a> | <a href="{% url 'goods_dispatch_note_delete' goods_dispatch_note.pk %}">Delete</a></p>
    </div>

{% endblock content %}