{% extends '_base.html' %}

{% load static %}

{% block headerscripts %}

    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %} "/> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %} "/> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/> {% endcomment %}

    {% comment %} <script type="text/javascript" src="/admin/jsi18n/"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'js/DateTimeShortcuts.js' %}"></script> {% endcomment %}

    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>

{% endblock headerscripts %}

{% block content %}

    <h1>New Goods Receipt Note</h1>
    <form action="{% url 'goods_receipt_note_new' %}" method="post">
        {% csrf_token %}
        {{ header_form.as_p }}

        <fieldset>

          <legend>Transactions</legend>

          <div>
            {{ transaction_formset.management_form }}
            {{ transaction_formset.non_field_errors }}
            {{ transaction_formset.non_form_errors }}
            {% for transaction in transaction_formset %}
                <div class="link-formset">
                    {{ transaction.errors }}
                    {{ transaction.non_field_errors }}
                    {{ transaction.as_p }}
                </div>
            {% endfor %}

          </div>

        </fieldset>

        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>

{% endblock content %}

{% block bodyscripts %}
    <script>
        $('.link-formset').formset({
            addText: 'Add Transaction',
            deleteText: 'Remove Transaction',
            prefix: 'transaction',
            keepFieldValues: "input[name$='gross_weight'], input[name$='tare_weight'], input[name$='unit_price']",
            //added: DateTimeShortcuts.init,
        });
    </script>
{% endblock bodyscripts %}