{% extends '_base.html' %}

{% load static %}

{% block headerscripts %}

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %} "/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %} "/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/DateTimeShortcuts.js' %}"></script>

{% endblock headerscripts %}

{% block content %}

    <h1>Record Goods Dispatch</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>

{% endblock content %}