{% extends '_base.html' %}

{% block title %}{{ transaction.material.name }}{% endblock title %}

{% block content %}

    <div class="transaction-detail">
        <h2><a href="">{{ transaction.material.name }}</a></h2>
        <p>{{ transaction.transaction_type }}</p>
        <p>{{ transaction.created_time }}</p>
        <p>{{ transaction.gross_weight }}</p>
        <p>{{ transaction.tare_weight }}</p>
        <p>{{ transaction.net_weight }}</p>
        <p>{{ transaction.unit_price }}</p>
        <p>{{ transaction.net_value }}</p>
        <p>{{ transaction.notes }}</p>
    </div>

{% endblock content %}