{% extends '_base.html' %}

{% block title %}{{ transaction.material.name }}{% endblock title %}

{% block content %}

    <div class="transaction-detail">
        <h2><a href="">{{ transaction.material.name }}</a></h2>
        <p>Type: {{ transaction.transaction_type }}</p>
        <p>Created: {{ transaction.created_time }}</p>
        <p>Gross weight: {{ transaction.gross_weight }}</p>
        <p>Tare weight: {{ transaction.tare_weight }}</p>
        <p>Net weight: {{ transaction.net_weight }}</p>
        <p>Unit price: {{ transaction.unit_price }}</p>
        <p>Net value: {{ transaction.net_value }}</p>
        <p>Notes: {{ transaction.notes }}</p>
        {% if transaction.transaction_type == "IN" %}
            <p>Goods Receipt Note: {{ transaction.goods_receipt_note }}</p>
            <p><a href="{% url 'goods_receipt_edit' transaction.pk %}">Edit</a> | <a href="{% url 'transaction_delete' transaction.pk %}">Delete</a></p>
        {% elif transaction.transaction_type == "OUT" %}
            <p>Goods Dispatch Note: {{ transaction.goods_dispatch_note }}</p>
            <p><a href="{% url 'goods_dispatch_edit' transaction.pk %}">Edit</a> | <a href="{% url 'transaction_delete' transaction.pk %}">Delete</a></p>
        {% endif %}
    </div>

{% endblock content %}