{% extends '_base_with_header.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

    {% block title %}
        {% with url_name=request.resolver_match.url_name %}
            {% if url_name|startswith:'vendor' %}
                New Vendor
            {% elif url_name|startswith:'customer' %}
                New Customer
            {% endif %}   
        {% endwith %}
    {% endblock title %}

    {% block header %}
        {% with url_name=request.resolver_match.url_name %}
            {% if url_name|startswith:'vendor' %}
                New Vendor
            {% elif url_name|startswith:'customer' %}
                New Customer
            {% endif %}   
        {% endwith %}
    {% endblock header %}

{% block content %}
    {{ block.super }}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>

{% endblock content %}